@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import './reset.css';

:root {
  --primary-color: #7969c9;
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8fafc;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}




.title {
  margin-top: 100px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}


.title span {
  color: var(--primary-color);
}







